mat-form-field {
  max-width: 400px;
}

.filters-container {
  margin-top: 15px;
  padding: 0px !important;
}

.row {
  margin-top: 15px;
}

.row > * {
  padding: 0px !important;
}

table {
  width: 100%;
  overflow-x: scroll;
}
